{% extends "layout.html" %}

{% block pageTitle %}
  Search for recognition decision data
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "index",
        text: "Home"
      },
      {
        href: "professions-listing-1",
        text: "Regulated professions"
      },
      {
        href: "#",
        text: "Regulatory authorities"
      },
      {
        href: "recognition-data-1",
        text: "Recognition data",
        active: true
      },
      {
        href: "#",
        text: "Manage Users"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% set bodyClasses = "rpr-internal__listing rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">Department for Business, Energy & Industrial Strategy</span>
    Recognition decision data
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="rpr-internal-listing__manage-professions-container">
        <div class="rpr-internal-listing__manage-professions-container-left">
          <h2 class="govuk-heading-l">
            Manage existing decision data
          </h2>
        </div>
        <div class="rpr-internal-listing__manage-professions-container-right">
          <form action="#" method="post" class="form">
            {{ govukButton({
              text: "Add new decision data"
            }) }}
          </form>
        </div>
      </div>

      <div class="rpr-internal-listing__filters-container">

      <!--details class="govuk-details rpr-listing__filters-container" data-module="govuk-details"-->
        <!--summary class="govuk-details__summary rpr-listing__fitlers-details-summary">
          <span class="govuk-details__summary-text">
            Show filters
          </span>
        </summary-->
        <!--div class="govuk-details__text"-->

          <p class="govuk-body" style="margin: 1em 0 2em 0;">Use the filters to choose the data sets to see and download.</p>

          <form action="recognition-data-1-filtered-published" method="post" class="form">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                {{ govukInput({
                  label: {
                    text: "Keyword",
                    classes: "govuk-label--s",
                    isPageHeading: true
                  },
                  classes: "",
                  hint: {
                    text: "For example, RP155, nuclear"
                  },
                  id: "profession-keyword",
                  name: "profession-keyword",
                  value: data['profession-keyword']
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "decision-data-regulators",
                  name: "decision-data-regulators",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Regulators",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "General Optical Council",
                      text: "General Optical Council",
                      checked: checked("decision-data-regulators", "General Optical Council")
                    },
                    {
                      value: "Institute of Chartered Accountants in England and Wales",
                      text: "Institute of Chartered Accountants in England and Wales",
                      checked: checked("decision-data-regulators", "Institute of Chartered Accountants in England and Wales")
                    },
                    {
                      value: "Institute of Chartered Accountants in Scotland",
                      text: "Institute of Chartered Accountants in Scotland",
                      checked: checked("decision-data-regulators", "Institute of Chartered Accountants in Scotland")
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "decision-data-years",
                  name: "decision-data-years",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Years",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "2019",
                      text: "2019",
                      checked: checked("decision-data-years", "2019")
                    },
                    {
                      value: "2020",
                      text: "2020",
                      checked: checked("decision-data-years", "2020")
                    },
                    {
                      value: "2021",
                      text: "2021",
                      checked: checked("decision-data-years", "2021")
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "decision-data-status",
                  name: "decision-data-status",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Status",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "Published",
                      text: "Published",
                      checked: checked("decision-data-status", "Published")
                    },
                    {
                      value: "Draft",
                      text: "Draft",
                      checked: checked("decision-data-status", "Draft")
                    },
                    {
                      value: "Archived",
                      text: "Archived",
                      checked: checked("decision-data-status", "Archived")
                    }
                  ]
                }) }}
              </div>

            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <p class="govuk-body-m">
                  <a class="govuk-link" href="recognition-data-1">Clear all filters</a><br>
                </p>
                {{ govukButton({
                  text: "Filter results",
                  classes: "govuk-button--secondary rpr-internal-listing__filter-button"
                }) }}
              </div>
            </div>

          </form>
        <!--/div-->
      <!--/details-->
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {% if data['profession-keyword'] or data['decision-data-regulators'] or data['decision-data-years'] or data['decision-data-status'] %}
        <div class="rpr-listing__search-criteria">

          {% if data['profession-keyword'] %}
            <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Keywords:</span> <strong class="govuk-tag">{{ data['profession-keyword'] }}</strong></p>
          {% endif %}

          {% if data['decision-data-regulators'] %}
            <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Regulators:</span> 
            {% for regulator in data['decision-data-regulators'] %}
              <strong class="govuk-tag">{{ regulator }}</strong>
            {% endfor %}
            </p>
          {% endif %}
          
          {% if data['decision-data-years'] %}
            <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Years:</span> 
            {% for year in data['decision-data-years'] %}
              <strong class="govuk-tag">{{ year }}</strong>
            {% endfor %}
            </p>
          {% endif %}

          {% if data['decision-data-status'] %}
            <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Status:</span> 
            {% for status in data['decision-data-status'] %}
              <strong class="govuk-tag">{{ status }}</strong>
            {% endfor %}
            </p>
          {% endif %}

        </div>
      {% endif %}


      <div class="rpr-internal__details-page-file-download-container">
        <span class="govuk-body"><a href="#" class="govuk-link rpr-internal__details-page-file-download-link">Download data sets</a></span>
      </div>

      {{ govukTable({
        caption: "5 data sets founds",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Profession"
          },
          {
            text: "Regulator"
          },
          {
            text: "Year"
          },
          {
            text: "Last modified"
          },
          {
            text: "Status"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              text: "Chartered Accountant"
            },
            {
              text: "Institute of Chartered Accountants in England and Wales"
            },
            {
              text: "2020"
            },
            {
              text: "16-01-2021"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="/beta-sprint-10/regulator-england-and-wales/recognition-decision-data-chartered-accountant-2020">View details</a>'
            }
          ],
          [
            {
              text: "Chartered Accountant"
            },
            {
              text: "Institute of Chartered Accountants in Scotland"
            },
            {
              text: "2020"
            },
            {
              text: "17-01-2021"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="/beta-sprint-10/regulator-scotland/recognition-decision-data-chartered-accountant-2020">View details</a>'
            }
          ],
          [
            {
              text: "Chartered Accountant"
            },
            {
              text: "Institute of Chartered Accountants in England and Wales"
            },
            {
              text: "2019"
            },
            {
              text: "05-01-2020"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="/beta-sprint-10/regulator-england-and-wales/recognition-decision-data-chartered-accountant-2019">View details</a>'
            }
          ],
          [
            {
              text: "Dispensing Optician"
            },
            {
              text: "General Optical Council"
            },
            {
              text: "2020"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="#">View details</a>'
            }
          ],
          [
            {
              text: "Optometrist"
            },
            {
              text: "General Optical Council"
            },
            {
              text: "2020"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="#">View details</a>'
            }
          ]
        ]
      }) }}
    </div>

  </div>

{% endblock %}
