{% extends "layout.html" %}

{% block pageTitle %}
  Check a regulated profession in the UK
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Work in a regulated profession in the UK 
      </h1>

      <p>Some professions, jobs and trades in the UK are ‘regulated’. This means you must have certain qualifications or experience to work in them.</p>

      <p>If you want to work in a regulated profession in the UK, you need to contact the regulatory authority for it. </p>

      <p>The regulatory authority sets the requirements for qualifying for your profession, so it will check your experience and qualifications. If they’re recognised, the regulatory authority will register you.</p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check if your profession is regulated </li>
        <li>find contact details for your profession’s regulatory authority</li>
        <li>view annual figures for applications to work in regulated professions in the UK</li>
      </ul>

      <h2 class="govuk-heading-m">Checking if your profession is regulated</h2>

      <p>You can see if your profession is regulated and the qualifications and experience you need to work in the UK.</p>

      <p><a class="govuk-link" href="professions-listing-1">Check if your profession is regulated</a>.</p>

      <h2 class="govuk-heading-m">Finding a regulatory authority</h2>

      <p>You can find the contact details for the regulatory authority for your profession. </p>

      <p><a class="govuk-link" href="ra-listing-1">Find the regulatory authority for your profession</a></p>

      <h2 class="govuk-heading-m">Viewing figures for applications to work in regulated professions</h2>

      <p>You can find annual figures for the total number of applications and successful applications to work in regulated professions in the UK.</p>

      <p><a class="govuk-link" href="#">Find application figures</a>.</p>

      <h2 class="govuk-heading-m">Getting help to check a regulated profession</h2>

      <p>Contact the <a class="govuk-link" href="#">UK Centre for Professional Qualifications (UK CPQ)</a> If you need support checking a regulated profession.</p>

      <h2 class="govuk-heading-m">Sign in to the BEIS Regulated Professions Register (RPR)</h2>

      <p>Regulators can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>manage information about professions</li>
        <li>add information about professions</li>
        <li>upload application and decision data</li>
      </ul>

      <a href="professions-select-service.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Sign in
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" r ole="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Please <a class="govuk-link" href="#">request an account</a> if you have not yet received sign-in details to access this service.</p>

      <p><a class="govuk-link" href="#">This service is also available in Welsh (Cymraeg).</a></p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
