{% extends "layout.html" %}

{% block pageTitle %}
  Check a regulated profession in the UK
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check a regulated profession in the UK
      </h1>

      <p>Some professions in the UK are regulated. If you want to work in a regulated profession, you need to contact the regulatory authority who will recognise your qualification and register you.</p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Check if your profession is regulated and what qualifications are required</li>
        <li>Find regulatory authority contact details for your profession</li>
        <li>View annual figures regarding applications to work in regulated professions in the UK</li>
      </ul>

      <h2 class="govuk-heading-m">Checking regulated professions</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet finibus ipsum, mollis rhoncus ante pharetra eu. Etiam pellentesque id velit quis ultricies. Sed ornare nisi non lobortis pharetra. Donec convallis, nisi dictum pharetra egestas, risus velit sodales odio, a commodo urna erat at tellus.</p>

      <button class="govuk-button" data-module="govuk-button">
        Start finding professions
      </button>

      <h2 class="govuk-heading-m">Checking regulatory authorities</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet finibus ipsum, mollis rhoncus ante pharetra eu. Etiam pellentesque id velit quis ultricies. Sed ornare nisi non lobortis pharetra. Donec convallis, nisi dictum pharetra egestas, risus velit sodales odio, a commodo urna erat at tellus.</p>

      <button class="govuk-button" data-module="govuk-button">
        Start finding regulators
      </button>


      <h2 class="govuk-heading-m">Other ways to find information</h2>

      <p>If you need support checking a regulated profession you can contact The UK Centre for Professional Qualifications (UK CPQ).</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
