{% extends "layout.html" %}

{% block pageTitle %}
  Home
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "index",
        text: "Home",
        active: true
      },
      {
        href: "#",
        text: "Professions"
      },
      {
        href: "#",
        text: "Regulator"
      },
      {
        href: "#",
        text: "Users"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% set bodyClasses = "rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">Architect Regulation Board</span>
        Jane Jones
      </h1>

      <h2 class="govuk-heading-m">Professions</h2>
      <p class="govuk-body"><a href="#">Edit information about the professions you regulate.</a></p>

      <h2 class="govuk-heading-m">Regulator</h2>
      <p class="govuk-body"><a href="#">Edit information about your regulator.</a></p>

      <h2 class="govuk-heading-m">Users</h2>
      <p class="govuk-body"><a href="#">Manage access to this service.</a></p>

      <h2 class="govuk-heading-m">Sign out</h2>
      <p class="govuk-body"><a href="#">Sign out here.</a></p>

      <h2 class="govuk-heading-m">About BEIS RPR</h2>
      <p class="govuk-body">See what can I do on RPR.</p>


    </div>

    <div class="govuk-grid-column-one-third">
    </div>

  </div>

{% endblock %}
