// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Site Width
$site-max-width: 1200px;

// Breakpoints
$big-screen: $site-max-width;
$medium-screen: 900px;
$small-screen: 768px;
$smaller-screen: 480px;
$tiny-screen: 340px;

.rpr-internal__page {
  .govuk-header__container {
    border-bottom: 10px solid govuk-colour("yellow");  
  }
}

.rpr-internal__details-page-sidebar {
  .govuk-button {
    margin-bottom: 0;
  }
}

.rpr-listing__results-found--mobile {
  display: none;
  @media screen and (max-width: $small-screen) {
    display: block;
  }
}

.rpr-listing__results-found--desktop {
  display: block;
  @media screen and (max-width: $small-screen) {
    display: none;
  }
}

.rpr-listing__filters-container {
  background-color: govuk-colour("light-grey");
  padding: 1rem;
}

.rpr-listing__fitlers-details-summary {
  display: none;
  @media screen and (max-width: $small-screen) {
    display: block;
  }
}

.rpr-internal__page .rpr-listing__fitlers-details-summary {
  display: block;
}

.rpr-listing__filters-details-text {
  border: 0;
  padding-left: 0;
}

.rpr-listing__filter {
  background-color: govuk-colour("white");
  height: 180px;
  overflow-y: auto;
}

.rpr-internal__listing {
  .govuk-width-container {
    max-width: 1200px;
  }
}

.rpr-internal-listing__manage-professions-container {
  margin: 0;
}

.rpr-internal-listing__manage-professions-container-left {
  float: left;
  @media screen and (max-width: $small-screen) {
    float: none;
  }
}

.rpr-internal-listing__manage-professions-container-right {
  float: right;
  @media screen and (max-width: $small-screen) {
    float: none;
  }
}

.rpr-internal-listing__filters-container {
  background-color: govuk-colour("light-grey");
  padding: 1rem;
  clear: both;

  .govuk-details__text {
    border: 0;
  }

  .govuk-details {
    margin-bottom: 0;
  }
}

.rpr-internal-listing__filter {
  background-color: govuk-colour("white");
  height: 180px;
  overflow-y: auto
}

.rpr-internal-listing__filter-button {
  margin-bottom: 10px;
  background-color: govuk-colour("black");
  color: govuk-colour("white");
}

.rpr-listing__search-criteria-container {
  margin-bottom: 5px;
}

.rpr-listing__profession-title:link,
.rpr-listing__ra-title:link {
  text-decoration: none;
}

.rpr-listing__profession-title:hover,
.rpr-listing__ra-title:hover {
  text-decoration: underline;
}

.rpr-listing__profession-summary-list dt, 
.rpr-listing__profession-summary-list dd,
.rpr-listing__ra-summary-list dt, 
.rpr-listing__ra-summary-list dd {
  padding: 2px 0;
}

.rpr-details__section-title {
  text-transform: uppercase;
}

.rpr-details__sub-group {
  padding: 1em 0 0 0;
  margin: 0;
}

.rpr-details__sub-group-title {
  border-left: 0.5em solid govuk-colour("black");
  padding-left: 0.5em;
}

.rpr-details__tab-title {
  display: none;
  @media screen and (max-width: $small-screen) {
    display: block;
  }
}

.rpr-internal-listing__sort-container {
  margin: 1em 0;
}

.rpr-internal-listing__sort-container-left {
  float: left;
}

.rpr-internal-listing__sort-container-right {
  float: right;
  padding-top: 9px;
}

.rpr-internal-listing__sort-component {
  display: inline-block;
  margin: 0 0 0 0.5em;
  padding: 0;
}

.rpr-internal-listing__sort-component-list-item {
  display: inline-block;
}

.rpr-internal-listing__sort-component-list-item:after {
  border-right: 1px solid #b1b4b6;
  content: "";
  display: inline-block;
  height: 1.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  position: relative;
  top: 0.2em;
}

.rpr-internal-listing__sort-component-list-item:last-child:after { 
    border-right: 0;
}