// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.rpr-internal__page {
  .govuk-header__container {
    border-bottom: 10px solid govuk-colour("yellow");  
  }
}

.rpr-internal__details-page-sidebar {
  .govuk-button {
    margin-bottom: 0;
  }
}

.rpr-listing__filters-container {
  background-color: govuk-colour("light-grey");
  padding: 1rem;
}

.rpr-listing__filter {
  background-color: govuk-colour("white");
  height: 180px;
  overflow-y: auto;
}

.rpr-internal__listing {
  .govuk-width-container {
    max-width: 1200px;
  }
}

.rpr-internal-listing__filters-container {
  background-color: govuk-colour("light-grey");
  padding: 1rem;

  .govuk-details__text {
    border: 0;
  }

  .govuk-details {
    margin-bottom: 0;
  }
}

.rpr-internal-listing__filter {
  background-color: govuk-colour("white");
  height: 180px;
  overflow-y: auto
}

.rpr-internal-listing__filter-button {
  margin-bottom: 10px;
  background-color: govuk-colour("black");
  color: govuk-colour("white");
}

.rpr-listing__search-criteria-container {
  margin-bottom: 5px;
}

.rpr-listing__profession-title:link,
.rpr-listing__ra-title:link {
  text-decoration: none;
}

.rpr-listing__profession-title:hover,
.rpr-listing__ra-title:hover {
  text-decoration: underline;
}

.rpr-listing__profession-summary-list dt, 
.rpr-listing__profession-summary-list dd,
.rpr-listing__ra-summary-list dt, 
.rpr-listing__ra-summary-list dd {
  padding: 2px 0;
}

.rpr-details__section-title {
  text-transform: uppercase;
}