{% extends "layout.html" %}

{% block pageTitle %}
  Home
{% endblock %}

{% set bodyClasses = "rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="professions-listing-after-1">Regulated professions</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Regulatory authorities</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Manage regulator's profile</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Manage users</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Logout</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome GMC users
      </h1>

      <p class="govuk-body">This is the home screen for users of General Medical Council.</p>

    </div>

  </div>

{% endblock %}
