{% extends "layout.html" %}

{% block pageTitle %}
  Adding a new regulatory authority
{% endblock %}

{% set bodyClasses = "rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Adding a new regulatory authority
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="">
        <form action="ra-adding-a-new-ra-check-your-answers" method="post" class="form">

          {{ govukInput({
            label: {
              text: "Name of the regulatory authority",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "",
            id: "new-ra-title",
            name: "new-ra-title",
            value: data['new-ra-title']
          }) }}

          {{ govukInput({
            label: {
              text: "Acronym",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "govuk-input--width-10",
            id: "new-ra-acronym",
            name: "new-ra-acronym",
            value: data['new-ra-acronym']
          }) }}

          {{ govukInput({
            label: {
              text: "Website",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "",
            id: "new-ra-website",
            name: "new-ra-website",
            value: data['new-ra-website']
          }) }}

          {{ govukTextarea({
            label: {
              text: "Address",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "",
            id: "new-ra-address",
            name: "new-ra-address",
            value: data['new-ra-address']
          }) }}

          {{ govukInput({
            label: {
              text: "Email address",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "",
            id: "new-ra-email",
            name: "new-ra-email",
            value: data['new-ra-email']
          }) }}

          {{ govukInput({
            label: {
              text: "Phone number",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "",
            id: "new-ra-phone-number",
            name: "new-ra-phone-number",
            value: data['new-ra-phone-number']
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
        </form>

      </div>

    </div>

    <div class="govuk-grid-column-one-third"></div>

  </div>

{% endblock %}
