{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation of amending a regulatory authority
{% endblock %}

{% set bodyClasses = "rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Regulatory authority amended
        </h1>
        <div class="govuk-panel__body">
          <strong>{{ data[amend-ra-title'] }}</strong> has been updated
        </div>
      </div>

      <p class="govuk-body">We have sent you a confirmation email.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body"><a href="index">Back to the dashboard</a></p>
    </div>

    <div class="govuk-grid-column-one-third"></div>

  </div>

{% endblock %}
