{% extends "layout.html" %}

{% block pageTitle %}
  Recognition decision data
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "index",
        text: "Home"
      },
      {
        href: "professions-listing-1",
        text: "Regulated professions"
      },
      {
        href: "#",
        text: "Regulatory authorities"
      },
      {
        href: "recognition-data-1",
        text: "Recognition data"
      },
      {
        href: "#",
        text: "Manage Users"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% set bodyClasses = "rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <form method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">Adding new recognition decision data</span>
        Recognition decision data
      </h1>

      {{ govukSelect({
        label: {
          text: "Regulator",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        classes: "",
        id: "new-decision-data-regulator",
        name: "new-decision-data-regulator",
        value: data['new-decision-data-regulator'],
        items: [
          {
            value: "Institute of Chartered Accountants in England and Wales",
            text: "Institute of Chartered Accountants in England and Wales",
            selected: data['new-decision-data-regulator'] == "Institute of Chartered Accountants in England and Wales"
          }
        ]
      }) }}

      {{ govukSelect({
        label: {
          text: "Profession",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        classes: "",
        id: "new-decision-data-profession",
        name: "new-decision-data-profession",
        value: data['new-decision-data-profession'],
        items: [
          {
            text: "-- Please select a profession --"
          },
          {
            value: "Administration of Oaths",
            text: "Administration of Oaths",
            selected: data['new-decision-data-profession'] == "Administration of Oaths"
          },
          {
            value: "Chartered Accountant",
            text: "Chartered Accountant",
            selected: data['new-decision-data-profession'] == "Chartered Accountant"
          },
          {
            value: "Insolvency Practitioner",
            text: "Insolvency Practitioner",
            selected: data['new-decision-data-profession'] == "Insolvency Practitioner"
          },
          {
            value: "Local Public Audit",
            text: "Local Public Audit",
            selected: data['new-decision-data-profession'] == "Local Public Audit"
          },
          {
            value: "Probate Practitioner (non-contentious probate)",
            text: "Probate Practitioner (non-contentious probate)",
            selected: data['new-decision-data-profession'] == "Probate Practitioner (non-contentious probate)"
          },
          {
            value: "Statutory Audit",
            text: "Statutory Audit",
            selected: data['new-decision-data-profession'] == "Statutory Audit"
          }
        ]
      }) }}

      {{ govukSelect({
        label: {
          text: "Year",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        classes: "",
        id: "new-decision-data-year",
        name: "new-decision-data-year",
        value: data['new-decision-data-year'],
        items: [
          {
            text: "-- Please select a year --"
          },
          {
            value: "2019",
            text: "2019",
            selected: data['new-decision-data-year'] == "2019"
          },
          {
            value: "2020",
            text: "2020",
            selected: data['new-decision-data-year'] == "2020"
          },
          {
            value: "2021",
            text: "2021",
            selected: data['new-decision-data-year'] == "2021"
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <table class="govuk-table rpr-decision-data__table-container rpr-decision-data__table-editing">
        <caption class="govuk-table__caption govuk-table__caption--l">
          <h1 class="govuk-label--m">Route</h1>
          <div class="rpr-decision-data__head-container-left">
            {{ govukInput({
              id: "new-decision-data-route-1",
              name: "new-decision-data-route-1",
              value: data['new-decision-data-route-1']
            }) }}
          </div>
          <div class="rpr-decision-data__head-container-right">
            {{ govukButton({
              text: "Delete this route",
              classes: "govuk-button--warning"
            }) }}
          </div>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Country of qualification</th>
            <th scope="col" class="govuk-table__header">Yes</th>
            <th scope="col" class="govuk-table__header">Yes (after compensatory measure)</th>
            <th scope="col" class="govuk-table__header">No</th>
            <th scope="col" class="govuk-table__header">No (after compensatory measure)</th>
            <th scope="col" class="govuk-table__header">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ govukSelect({
                classes: "",
                id: "new-decision-data-route-1-country-1",
                name: "new-decision-data-route-1-country-1",
                value: data['new-decision-data-route-1-country-1'],
                items: [
                  {
                    text: "-- Please select a country --"
                  },
                  {
                    value: "Argentina",
                    text: "Argentina",
                    selected: data['new-decision-data-route-1-country-1'] == "Argentina"
                  },
                  {
                    value: "Australia",
                    text: "Australia",
                    selected: data['new-decision-data-route-1-country-1'] == "Australia"
                  },
                  {
                    value: "Austria",
                    text: "Austria",
                    selected: data['new-decision-data-route-1-country-1'] == "Austria"
                  },
                  {
                    value: "Belgium",
                    text: "Belgium",
                    selected: data['new-decision-data-route-1-country-1'] == "Belgium"
                  },
                  {
                    value: "Brazil",
                    text: "Brazil",
                    selected: data['new-decision-data-route-1-country-1'] == "Brazil"
                  },
                  {
                    value: "Canada",
                    text: "Canada",
                    selected: data['new-decision-data-route-1-country-1'] == "Canada"
                  },
                  {
                    value: "Denmark",
                    text: "Denmark",
                    selected: data['new-decision-data-route-1-country-1'] == "Denmark"
                  },
                  {
                    value: "France",
                    text: "France",
                    selected: data['new-decision-data-route-1-country-1'] == "France"
                  },
                  {
                    value: "Germany",
                    text: "Germany",
                    selected: data['new-decision-data-route-1-country-1'] == "Germany"
                  },
                  {
                    value: "India",
                    text: "India",
                    selected: data['new-decision-data-route-1-country-1'] == "India"
                  },
                  {
                    value: "Ireland",
                    text: "Ireland",
                    selected: data['new-decision-data-route-1-country-1'] == "Ireland"
                  },
                  {
                    value: "Italy",
                    text: "Italy",
                    selected: data['new-decision-data-route-1-country-1'] == "Italy"
                  },
                  {
                    value: "Japan",
                    text: "Japan",
                    selected: data['new-decision-data-route-1-country-1'] == "Japan"
                  },
                  {
                    value: "Luxembourg",
                    text: "Luxembourg",
                    selected: data['new-decision-data-route-1-country-1'] == "Luxembourg"
                  },
                  {
                    value: "New Zealand",
                    text: "New Zealand",
                    selected: data['new-decision-data-route-1-country-1'] == "New Zealand"
                  },
                  {
                    value: "Poland",
                    text: "Poland",
                    selected: data['new-decision-data-route-1-country-1'] == "Poland"
                  },
                  {
                    value: "Singapore",
                    text: "Singapore",
                    selected: data['new-decision-data-route-1-country-1'] == "Singapore"
                  },
                  {
                    value: "Spain",
                    text: "Spain",
                    selected: data['new-decision-data-route-1-country-1'] == "Spain"
                  },
                  {
                    value: "Switzerland",
                    text: "Switzerland",
                    selected: data['new-decision-data-route-1-country-1'] == "Switzerland"
                  },
                  {
                    value: "United States of America",
                    text: "United States of America",
                    selected: data['new-decision-data-route-1-country-1'] == "United States of America"
                  }
                ]
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-1-yes",
                name: "new-decision-data-route-1-country-1-yes",
                value: data['new-decision-data-route-1-country-1-yes']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-1-yes-2",
                name: "new-decision-data-route-1-country-1-yes-2",
                value: data['new-decision-data-route-1-country-1-yes-2']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-1-no",
                name: "new-decision-data-route-1-country-1-no",
                value: data['new-decision-data-route-1-country-1-no']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-1-no-2",
                name: "new-decision-data-route-1-country-1-no-2",
                value: data['new-decision-data-route-1-country-1-no-2']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukButton({
                text: "Delete",
                classes: "govuk-button--warning"
              }) }}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ govukSelect({
                classes: "",
                id: "new-decision-data-route-1-country-2",
                name: "new-decision-data-route-1-country-2",
                value: data['new-decision-data-route-1-country-2'],
                items: [
                  {
                    text: "-- Please select a country --",
                    selected: true
                  },
                  {
                    value: "Argentina",
                    text: "Argentina",
                    selected: data['new-decision-data-route-1-country-2'] == "Argentina"
                  },
                  {
                    value: "Australia",
                    text: "Australia",
                    selected: data['new-decision-data-route-1-country-2'] == "Australia"
                  },
                  {
                    value: "Austria",
                    text: "Austria",
                    selected: data['new-decision-data-route-1-country-2'] == "Austria"
                  },
                  {
                    value: "Belgium",
                    text: "Belgium",
                    selected: data['new-decision-data-route-1-country-2'] == "Belgium"
                  },
                  {
                    value: "Brazil",
                    text: "Brazil",
                    selected: data['new-decision-data-route-1-country-2'] == "Brazil"
                  },
                  {
                    value: "Canada",
                    text: "Canada",
                    selected: data['new-decision-data-route-1-country-2'] == "Canada"
                  },
                  {
                    value: "Denmark",
                    text: "Denmark",
                    selected: data['new-decision-data-route-1-country-2'] == "Denmark"
                  },
                  {
                    value: "France",
                    text: "France",
                    selected: data['new-decision-data-route-1-country-2'] == "France"
                  },
                  {
                    value: "Germany",
                    text: "Germany",
                    selected: data['new-decision-data-route-1-country-2'] == "Germany"
                  },
                  {
                    value: "India",
                    text: "India",
                    selected: data['new-decision-data-route-1-country-2'] == "India"
                  },
                  {
                    value: "Ireland",
                    text: "Ireland",
                    selected: data['new-decision-data-route-1-country-2'] == "Ireland"
                  },
                  {
                    value: "Italy",
                    text: "Italy",
                    selected: data['new-decision-data-route-1-country-2'] == "Italy"
                  },
                  {
                    value: "Japan",
                    text: "Japan",
                    selected: data['new-decision-data-route-1-country-2'] == "Japan"
                  },
                  {
                    value: "Luxembourg",
                    text: "Luxembourg",
                    selected: data['new-decision-data-route-1-country-2'] == "Luxembourg"
                  },
                  {
                    value: "New Zealand",
                    text: "New Zealand",
                    selected: data['new-decision-data-route-1-country-2'] == "New Zealand"
                  },
                  {
                    value: "Poland",
                    text: "Poland",
                    selected: data['new-decision-data-route-1-country-2'] == "Poland"
                  },
                  {
                    value: "Singapore",
                    text: "Singapore",
                    selected: data['new-decision-data-route-1-country-2'] == "Singapore"
                  },
                  {
                    value: "Spain",
                    text: "Spain",
                    selected: data['new-decision-data-route-1-country-2'] == "Spain"
                  },
                  {
                    value: "Switzerland",
                    text: "Switzerland",
                    selected: data['new-decision-data-route-1-country-2'] == "Switzerland"
                  },
                  {
                    value: "United States of America",
                    text: "United States of America",
                    selected: data['new-decision-data-route-1-country-2'] == "United States of America"
                  }
                ]
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-2-yes",
                name: "new-decision-data-route-1-country-2-yes",
                value: data['new-decision-data-route-1-country-2-yes']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-2-yes-2",
                name: "new-decision-data-route-1-country-2-yes-2",
                value: data['new-decision-data-route-1-country-2-yes-2']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-2-no",
                name: "new-decision-data-route-1-country-2-no",
                value: data['new-decision-data-route-1-country-2-no']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukInput({
                classes: "",
                id: "new-decision-data-route-1-country-2-no-2",
                name: "new-decision-data-route-1-country-2-no-2",
                value: data['new-decision-data-route-1-country-2-no-2']
              }) }}
            </td>
            <td class="govuk-table__cell">
              {{ govukButton({
                text: "Delete",
                classes: "govuk-button--warning"
              }) }}
            </td>
          </tr>
        </tbody>
      </table>

      <button class="govuk-button govuk-button--secondary rpr-internal-listing__filter-button" formaction="#">Add new country</button>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <button class="govuk-button govuk-button--start rpr-internal-listing__filter-button rpr-internal-listing__filter-button" formaction="recognition-decision-data-new-two-routes">Add new route</button>

    </div>

    <div class="govuk-grid-column-one-quarter">

      <aside class="app-related-items rpr-internal__details-page-sidebar" role="complementary">
        

        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <button class="govuk-button govuk-button--secondary" formaction="recognition-decision-data-new-data-draft">Save as draft</button>
            </li>
            <li>
              <button class="govuk-button" formaction="recognition-decision-data-chartered-accountant-2020-published">Publish to register</button>
            </li>
          </ul>
        </nav>


      </aside>

    </div>

  </div>

  </form>

{% endblock %}
