{% extends "layout.html" %}

{% block pageTitle %}
  Recognition decision data - Chartered Accountant 
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "index",
        text: "Home"
      },
      {
        href: "professions-listing-1",
        text: "Regulated professions"
      },
      {
        href: "#",
        text: "Regulatory authorities"
      },
      {
        href: "recognition-data-1",
        text: "Recognition data"
      },
      {
        href: "#",
        text: "Manage Users"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% set bodyClasses = "rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <form method="post" class="form">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Recognition decision data
        <span class="govuk-caption-l">Chartered Accountant - United Kingdom</span>
      </h1>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border rpr-decision-data__overview',
        rows: [
          {
            key: {
              text: "Regulator"
            },
            value: {
              html: '<ul class="govuk-list">
                        <li>Institute of Chartered Accountants in England and Wales</li>
                    </ul>'
            }
          },
          {
            key: {
              text: "Year"
            },
            value: {
              text: "2020"
            }
          }
        ]
      }) }}

      <table class="govuk-table rpr-decision-data__table-container">
        <caption class="govuk-table__caption govuk-table__caption--l">EEA Route</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Country of qualification</th>
            <th scope="col" class="govuk-table__header">Yes</th>
            <th scope="col" class="govuk-table__header">Yes (after compensatory measure)</th>
            <th scope="col" class="govuk-table__header">No</th>
            <th scope="col" class="govuk-table__header">No (after compensatory measure)</th>
            <th scope="col" class="govuk-table__header">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">France</td>
            <td class="govuk-table__cell">3</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"><strong>4</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Italy</td>
            <td class="govuk-table__cell">3</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"><strong>4</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Spain</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"><strong>1</strong></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table rpr-decision-data__table-container">
        <caption class="govuk-table__caption govuk-table__caption--l">International Route</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Country of qualification</th>
            <th scope="col" class="govuk-table__header">Yes</th>
            <th scope="col" class="govuk-table__header">Yes (after compensatory measure)</th>
            <th scope="col" class="govuk-table__header">No</th>
            <th scope="col" class="govuk-table__header">No (after compensatory measure)</th>
            <th scope="col" class="govuk-table__header">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Australia</td>
            <td class="govuk-table__cell">3</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"><strong>4</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Switzerland</td>
            <td class="govuk-table__cell">3</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"><strong>4</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">United States of America</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"><strong>1</strong></td>
          </tr>
        </tbody>
      </table>

    </div>


    <div class="govuk-grid-column-one-quarter">

      <aside class="app-related-items rpr-internal__details-page-sidebar" role="complementary">
        <h2 class="govuk-heading-s">
          Status<br>
          <span class="govuk-body"><strong class="govuk-tag govuk-tag--turquoise">Published</strong></span>
        </h2>

        <h2 class="govuk-heading-s">
          Last modified<br>
          <span class="govuk-body">16-01-2021</span>
        </h2>

        <h2 class="govuk-heading-s">
          Changed by<br>
          <span class="govuk-body">Jane Jones</span><br>
          <span class="govuk-body"><a href="#">janejones@icaew.com</a></span>
        </h2>

        <h2 class="govuk-heading-s">
          Currently published version<br>
          <span class="govuk-body"><a href="/beta-sprint-10/public-facing/recognition-decision-data-chartered-accountant-2020" class="govuk-link">Public facing link</a></span>
        </h2>

        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <input name="decision-data-regulator" id="decision-data-regulator" value="Institute of Chartered Accountants in England and Wales" type="hidden">
              <input name="decision-data-profession" id="decision-data-profession" value="Chartered Accountant" type="hidden">
              <input name="decision-data-year" id="decision-data-year" value="2020" type="hidden">
              
              <input name="decision-data-route-1" id="decision-data-route-1" value="EEA Route" type="hidden">
              <input name="decision-data-route-1-country-1" id="decision-data-route-1-country-1" value="France" type="hidden">
              <input name="decision-data-route-1-country-1-yes" id="decision-data-route-1-country-1-yes" value="3" type="hidden">
              <input name="decision-data-route-1-country-1-yes-2" id="decision-data-route-1-country-1-yes-2" value="1" type="hidden">
              <input name="decision-data-route-1-country-1-no" id="decision-data-route-1-country-1-no" value="0" type="hidden">
              <input name="decision-data-route-1-country-1-no-2" id="decision-data-route-1-country-1-no-2" value="0" type="hidden">

              <input name="decision-data-route-1-country-2" id="decision-data-route-1-country-2" value="Italy" type="hidden">
              <input name="decision-data-route-1-country-2-yes" id="decision-data-route-1-country-2-yes" value="3" type="hidden">
              <input name="decision-data-route-1-country-2-yes-2" id="decision-data-route-1-country-2-yes-2" value="0" type="hidden">
              <input name="decision-data-route-1-country-2-no" id="decision-data-route-1-country-2-no" value="1" type="hidden">
              <input name="decision-data-route-1-country-2-no-2" id="decision-data-route-1-country-2-no-2" value="0" type="hidden">

              <input name="decision-data-route-1-country-3" id="decision-data-route-1-country-3" value="Spain" type="hidden">
              <input name="decision-data-route-1-country-3-yes" id="decision-data-route-1-country-3-yes" value="0" type="hidden">
              <input name="decision-data-route-1-country-3-yes-2" id="decision-data-route-1-country-3-yes-2" value="1" type="hidden">
              <input name="decision-data-route-1-country-3-no" id="decision-data-route-1-country-3-no" value="0" type="hidden">
              <input name="decision-data-route-1-country-3-no-2" id="decision-data-route-1-country-3-no-2" value="0" type="hidden">

              <input name="decision-data-route-2" id="decision-data-route-2" value="International Route" type="hidden">
              <input name="decision-data-route-2-country-1" id="decision-data-route-2-country-1" value="Australia" type="hidden">
              <input name="decision-data-route-2-country-1-yes" id="decision-data-route-2-country-1-yes" value="3" type="hidden">
              <input name="decision-data-route-2-country-1-yes-2" id="decision-data-route-2-country-1-yes-2" value="1" type="hidden">
              <input name="decision-data-route-2-country-1-no" id="decision-data-route-2-country-1-no" value="0" type="hidden">
              <input name="decision-data-route-2-country-1-no-2" id="decision-data-route-2-country-1-no-2" value="0" type="hidden">

              <input name="decision-data-route-2-country-2" id="decision-data-route-2-country-2" value="Switzerland" type="hidden">
              <input name="decision-data-route-2-country-2-yes" id="decision-data-route-2-country-2-yes" value="3" type="hidden">
              <input name="decision-data-route-2-country-2-yes-2" id="decision-data-route-2-country-2-yes-2" value="0" type="hidden">
              <input name="decision-data-route-2-country-2-no" id="decision-data-route-2-country-2-no" value="1" type="hidden">
              <input name="decision-data-route-2-country-2-no-2" id="decision-data-route-2-country-2-no-2" value="0" type="hidden">

              <input name="decision-data-route-2-country-3" id="decision-data-route-2-country-3" value="United States of America" type="hidden">
              <input name="decision-data-route-2-country-3-yes" id="decision-data-route-2-country-3-yes" value="0" type="hidden">
              <input name="decision-data-route-2-country-3-yes-2" id="decision-data-route-2-country-3-yes-2" value="1" type="hidden">
              <input name="decision-data-route-2-country-3-no" id="decision-data-route-2-country-3-no" value="0" type="hidden">
              <input name="decision-data-route-2-country-3-no-2" id="decision-data-route-2-country-3-no-2" value="0" type="hidden">

              <button class="govuk-button govuk-button--secondary" formaction="recognition-decision-data-chartered-accountant-2020-edit">Edit data</button>
            </li>
          </ul>
        </nav>

        <div class="rpr-internal__details-page-file-download">
          <span class="govuk-body-s"><a href="/beta-sprint-10/public-facing/recognition-decision-data-chartered-accountant-2020" class="govuk-link rpr-internal__details-page-file-download-link">Download data set for Chartered Accountants 2020 (Csv)</a></span>
        </div>
        
      </aside>

    </div>

  </div>
  </form>

{% endblock %}
