{% extends "layout.html" %}

{% block pageTitle %}
  Search for a regulated profession
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "index",
        text: "Home"
      },
      {
        href: "professions-listing-1",
        text: "Regulated professions"
      },
      {
        href: "#",
        text: "Regulatory authorities"
      },
      {
        href: "recognition-data-1",
        text: "Recognition data",
        active: true
      },
      {
        href: "#",
        text: "Manage Users"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% set bodyClasses = "rpr-internal__listing rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">Institute of Chartered Accountants in England and Wales</span>
    Recognition decision data
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="rpr-internal-listing__manage-professions-container">
        <div class="rpr-internal-listing__manage-professions-container-left">
          <h2 class="govuk-heading-l">
            Manage existing decision data
          </h2>
          <p class="govuk-body">To add new recognition decision data, please go to <a class="govuk-link" href="professions-listing-1">regulated professions</a> and choose the profession you want.</p>
        </div>
        <div class="rpr-internal-listing__manage-professions-container-right">
        </div>
      </div>

      <div class="rpr-internal-listing__filters-container">

      <details class="govuk-details rpr-listing__filters-container" data-module="govuk-details">
        <summary class="govuk-details__summary rpr-listing__fitlers-details-summary">
          <span class="govuk-details__summary-text">
            Show filters
          </span>
        </summary>
        <div class="govuk-details__text">
          <form action="#" method="post" class="form">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                {{ govukInput({
                  label: {
                    text: "Keyword",
                    classes: "govuk-label--s",
                    isPageHeading: true
                  },
                  classes: "",
                  hint: {
                    text: "For example, RP155, nuclear"
                  },
                  id: "profession-keyword",
                  name: "profession-keyword",
                  value: data['profession-keyword']
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "profession-nations",
                  name: "profession-nations",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Nations",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "england",
                      text: "England",
                      checked: checked("profession-nations", "england")
                    },
                    {
                      value: "scotland",
                      text: "Scotland",
                      checked: checked("profession-nations", "scotland")
                    },
                    {
                      value: "wales",
                      text: "Wales",
                      checked: checked("profession-nations", "wales")
                    },
                    {
                      value: "northern-ireland",
                      text: "Northern Ireland",
                      checked: checked("profession-nations", "northern-ireland")
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "profession-regulators",
                  name: "profession-regulators",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Regulators",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "General Medicine Council",
                      text: "General Medicine Council",
                      checked: checked("profession-regulators", "General Medicine Council")
                    },
                    {
                      value: "Capita Gas Registration and Ancillary Services Ltd",
                      text: "Capita Gas Registration and Ancillary Services Ltd",
                      checked: checked("profession-regulators", "Capita Gas Registration and Ancillary Services Ltd")
                    },
                    {
                      value: "Education Workforce Council",
                      text: "Education Workforce Council",
                      checked: checked("profession-regulators", "Education Workforce Council")
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "profession-industries",
                  name: "profession-industries",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Sectors",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "construction-engineering",
                      text: "Construction & Engineering",
                      checked: checked("profession-industries", "construction-engineering")
                    },
                    {
                      value: "education",
                      text: "Education",
                      checked: checked("profession-industries", "education")
                    },
                    {
                      value: "finance",
                      text: "Finance",
                      checked: checked("profession-industries", "finance")
                    },
                    {
                      value: "health",
                      text: "Health",
                      checked: checked("profession-industries", "health")
                    },
                    {
                      value: "law",
                      text: "Law",
                      checked: checked("profession-industries", "law")
                    },
                    {
                      value: "shipping",
                      text: "Shipping",
                      checked: checked("profession-industries", "shipping")
                    },
                    {
                      value: "other",
                      text: "Other",
                      checked: checked("profession-industries", "other")
                    },
                    {
                      value: "security",
                      text: "Security",
                      checked: checked("profession-industries", "security")
                    },
                    {
                      value: "transport",
                      text: "Transport",
                      checked: checked("profession-industries", "transport")
                    },
                    {
                      value: "energy",
                      text: "Energy",
                      checked: checked("profession-industries", "energy")
                    },
                    {
                      value: "science",
                      text: "Science",
                      checked: checked("profession-industries", "science")
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter">
                {{ govukCheckboxes({
                  idPrefix: "profession-status",
                  name: "profession-status",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Status",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "Published",
                      text: "Published",
                      checked: checked("profession-status", "Published")
                    },
                    {
                      value: "Draft",
                      text: "Draft",
                      checked: checked("profession-status", "Draft")
                    },
                    {
                      value: "Archived",
                      text: "Archived",
                      checked: checked("profession-status", "Archived")
                    }
                  ]
                }) }}
              </div>

            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {{ govukButton({
                  text: "Filter results",
                  classes: "govuk-button--secondary rpr-internal-listing__filter-button"
                }) }}
              </div>
            </div>

          </form>
        </div>
      </details>



      </div>

      <div class="govuk-!-padding-bottom-6"></div>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {% if data['profession-keyword'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Keywords:</span> <strong class="govuk-tag">{{ data['profession-keyword'] }}</strong></p>
      {% endif %}

      {% if data['profession-nations'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Nations:</span> 
        {% for nation in data['profession-nations'] %}
          <strong class="govuk-tag">{{ nation }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      {% if data['profession-regulators'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Regulators:</span> 
        {% for regulator in data['profession-regulators'] %}
          <strong class="govuk-tag">{{ regulator }}</strong>
        {% endfor %}
        </p>
      {% endif %}
      
      {% if data['profession-industries'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Sectors:</span> 
        {% for industry in data['profession-industries'] %}
          <strong class="govuk-tag">{{ industry }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      {% if data['profession-status'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Status:</span> 
        {% for status in data['profession-status'] %}
          <strong class="govuk-tag">{{ status }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      <div class="rpr-internal-listing__sort-container">
        <div class="rpr-internal-listing__sort-container-left govuk-body">
          <span class="govuk-!-font-size-36 govuk-!-font-weight-bold">2</span> decision data found.
        </div>
      </div>

      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Profession"
          },
          {
            text: "Year"
          },
          {
            text: "Last modified"
          },
          {
            text: "Status"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              text: "Chartered Accountant"
            },
            {
              text: "2020"
            },
            {
              text: "16-01-2021"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="/beta-sprint-10/regulator-england-and-wales/recognition-decision-data-chartered-accountant-2020">View details</a>'
            }
          ],
          [
            {
              text: "Chartered Accountant"
            },
            {
              text: "2019"
            },
            {
              text: "05-01-2020"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="/beta-sprint-10/regulator-england-and-wales/recognition-decision-data-chartered-accountant-2019">View details</a>'
            }
          ]
        ]
      }) }}
    </div>

  </div>

{% endblock %}
