{% extends "layout.html" %}

{% block pageTitle %}
  Search for a regulated profession
{% endblock %}

{% set bodyClasses = "rpr-internal__listing rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">General Medical Council</span>
    Regulated professions
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">
        Add a new profession 
      </h2>
      <p>You can add a new profession for your organisation here.</p>
      <form action="ra-adding-a-new-profession-page-1" method="post" class="form">
        {{ govukButton({
          text: "Add a new profession"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">
        Manage existing professions
      </h2>

      <div class="rpr-internal-listing__filters-container">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show filters
          </span>
        </summary>
        <div class="govuk-details__text">
          <form action="professions-listing-2" method="post" class="form">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                {{ govukInput({
                  label: {
                    text: "Keyword",
                    classes: "govuk-label--s",
                    isPageHeading: true
                  },
                  classes: "",
                  hint: {
                    text: "For example, RP155, nuclear"
                  },
                  id: "profession-keyword",
                  name: "profession-keyword",
                  value: data['profession-keyword']
                }) }}
              </div>

              <div class="govuk-grid-column-one-third">
                {{ govukCheckboxes({
                  idPrefix: "profession-nations",
                  name: "profession-nations",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Nations",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "england",
                      text: "England",
                      checked: checked("profession-nations", "england")
                    },
                    {
                      value: "scotland",
                      text: "Scotland",
                      checked: checked("profession-nations", "scotland")
                    },
                    {
                      value: "wales",
                      text: "Wales",
                      checked: checked("profession-nations", "wales")
                    },
                    {
                      value: "northern-ireland",
                      text: "Northern Ireland",
                      checked: checked("profession-nations", "northern-ireland")
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-third">
                {{ govukCheckboxes({
                  idPrefix: "profession-modified-by",
                  name: "profession-modified-by",
                  classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                  fieldset: {
                    legend: {
                      text: "Last modified",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "Clare Jones",
                      text: "Clare Jones",
                      checked: checked("profession-modified-by", "Clare Jones")
                    },
                    {
                      value: "Alex Young",
                      text: "Alex Young",
                      checked: checked("profession-modified-by", "Alex Young")
                    }
                  ]
                }) }}
              </div>

            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {{ govukButton({
                  text: "Filter results",
                  classes: "govuk-button--secondary rpr-internal-listing__filter-button"
                }) }}
              </div>
            </div>

          </form>
        </div>
      </details>



      </div>

      <div class="govuk-!-padding-bottom-6"></div>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {% if data['profession-keyword'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Keywords:</span> <strong class="govuk-tag">{{ data['profession-keyword'] }}</strong></p>
      {% endif %}

      {% if data['profession-nations'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Nations:</span> 
        {% for nation in data['profession-nations'] %}
          <strong class="govuk-tag">{{ nation }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      {% if data['profession-modified-by'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Modified by:</span> 
        {% for modifiedBy in data['profession-modified-by'] %}
          <strong class="govuk-tag">{{ modifiedBy }}</strong>
        {% endfor %}
        </p>
      {% endif %}
      

      {% if data['profession-keyword'] %}

      <p><span class="govuk-!-font-size-36 govuk-!-font-weight-bold">1</span> profession found.</p>


      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Profession"
          },
          {
            text: "ID"
          },
          {
            text: "Nations"
          },
          {
            text: "last modified"
          },
          {
            text: "Modified by"
          },
          {
            text: "Status"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              text: "Plastic surgery"
            },
            {
              text: "GMCRP163"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-1-plastic-surgery.html">View details</a>'
            }
          ]
        ]
      }) }}


      {% else %}

      <p><span class="govuk-!-font-size-36 govuk-!-font-weight-bold">10</span> professions found.</p>


      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Profession"
          },
          {
            text: "ID"
          },
          {
            text: "Nations"
          },
          {
            text: "last modified"
          },
          {
            text: "Modified by"
          },
          {
            text: "Status"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              text: "Neurosurgery"
            },
            {
              text: "GMCRP154"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "13-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Draft"
            },
            {
              html: '<a class="govuk-link" href="profession-4-neurosurgery">View details</a>'
            }
          ],
          [
            {
              text: "Nuclear medicine"
            },
            {
              text: "GMCRP155"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "08-11-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-3-nuclear-medicine.html">View details</a>'
            }
          ],
          [
            {
              text: "Obstetrics and gynaecology"
            },
            {
              text: "GMCRP156"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-1-plastic-surgery.html">View details</a>'
            }
          ],
          [
            {
              text: "Otolaryngology"
            },
            {
              text: "GMCRP160"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-3-nuclear-medicine.html">View details</a>'
            }
          ],
          [
            {
              text: "Paediatric surgery"
            },
            {
              text: "GMCRP161"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "27-11-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-1-plastic-surgery.html">View details</a>'
            }
          ],
          [
            {
              text: "Plastic surgery"
            },
            {
              text: "GMCRP163"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-1-plastic-surgery.html">View details</a>'
            }
          ],
          [
            {
              text: "Respiratory medicine"
            },
            {
              text: "GMCRP166"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "02-11-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-1-plastic-surgery.html">View details</a>'
            }
          ],
          [
            {
              text: "Tropical medicine"
            },
            {
              text: "GMCRP169"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-1-plastic-surgery.html">View details</a>'
            }
          ],
          [
            {
              text: "Urology"
            },
            {
              text: "GMCRP170"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "16-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-3-nuclear-medicine.html">View details</a>'
            }
          ],
          [
            {
              text: "Vascular surgery"
            },
            {
              text: "GMCRP171"
            },
            {
              text: "United Kingdom"
            },
            {
              text: "12-12-2021"
            },
            {
              text: "Alex Young"
            },
            {
              text: "Published"
            },
            {
              html: '<a class="govuk-link" href="profession-3-nuclear-medicine.html">View details</a>'
            }
          ]
        ]
      }) }}

      {% endif %}

    </div>

  </div>

{% endblock %}
