{% extends "layout.html" %}

{% block pageTitle %}
  Capita Gas Registration and Ancillary Services Ltd
{% endblock %}

{% set bodyClasses = "rpr-internal__page" %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Capita Gas Registration and Ancillary Services Ltd
      </h1>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Alternate name"
            },
            value: {
              text: "[No data]"
            }
          },
          {
            key: {
              text: "Website"
            },
            value: {
              html: '<a href="https://www.gassaferegister.co.uk/help-and-advice/becoming-registered/apply-now/" class="govuk-link">https://www.gassaferegister.co.uk/help-and-advice/becoming-registered/apply-now/</a>'
            }
          }, 
          {
            key: {
              text: "Address"
            },
            value: {
              html: '200 Chineham Park</br>Basingstoke</br>RG24 8WD'
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "N/A"
            }
          },         
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: "+44 (0) 7766 397564"
            }
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h2 class="govuk-heading-l">
        Regulated professions
      </h2>

      <div class="rpr-listing__ra-container">
        <h3>
          <a class="govuk-link govuk-heading-m rpr-listing__profession-title" href="profession-2-registered-gas-engineer">
            Registered Gas Engineer<br>
            <span class="govuk-caption-m">United Kingdom</span>
          </a>
        </h3>
      </div>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items rpr-internal__details-page-sidebar" role="complementary">
        
        <h2 class="govuk-heading-s">
          Status<br>
          <span class="govuk-body">Draft</span>
        </h2>

        <h2 class="govuk-heading-s">
          Last modified<br>
          <span class="govuk-body">17-12-2021</span>
        </h2>

        <h2 class="govuk-heading-s">
          Changed by<br>
          <span class="govuk-body">Alex Young</span><br>
          <span class="govuk-body"><a href="#">alexyoung@gmc-uk.org</a></span>
        </h2>
    
        <h2 class="govuk-heading-s">
          Currently published version<br>
          <span class="govuk-body">Not published yet</span>
        </h2>

        <nav role="navigation" aria-labelledby="subsection-title">

          <ul class="govuk-list">
            <li>
              {{ govukButton({
                text: "Publish now"
              }) }}
            </li>
            <li>
              <form action="ra-amending-a-ra-start" method="post" class="form">
                <input name="amend-ra-title" value="Capita Gas Registration and Ancillary Services Ltd" type="hidden">
                <input name="amend-ra-acronym" value="" type="hidden">
                <input name="amend-ra-website" value="https://www.gassaferegister.co.uk/help-and-advice/becoming-registered/apply-now/" type="hidden">
                <input name="amend-ra-address" value="200 Chineham Park Basingstoke RG24 8WD" type="hidden">
                <input name="amend-ra-email" value="N/A" type="hidden">
                <input name="amend-ra-phone-number" value="+44 (0) 7766 397564" type="hidden">
                
                {{ govukButton({
                  text: "Continue editing",
                  classes: "govuk-button--secondary"
                }) }}
              </form>
            </li>
            <li>
              {{ govukButton({
                text: "Delete draft",
                classes: "govuk-button--warning"
              }) }}
            </li>
          </ul>
        </nav>
      </aside>
      
    </div>
  </div>

{% endblock %}
