
{% extends "layout.html" %}

{% block pageTitle %}
  BEIS RPR prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        BEIS RPR prototype
      </h1>

      <h2 class="govuk-heading-l">
        Beta sprint 2
      </h2>
      <h3 class="govuk-heading-m">
        Public facing interface
      </h3>
      <a href="beta-sprint-2/public-facing/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Version 1
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>
  </div>

{% endblock %}
