
{% extends "layout.html" %}

{% block pageTitle %}
  BEIS RPR prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        BEIS RPR prototype
      </h1>

      <p>Please remember to clear the data when you want to start the prototype again in a clean way.</p>

      <div>
        <a href="/prototype-admin/clear-data" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Clear data
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-11">
        Beta sprint 11
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-11/regulator-england-and-wales/recognition-decision-data-chartered-accountant-2020">Revised data set page (single)</a></li>
        <li><a href="beta-sprint-11/public-facing/recognition-decision-data-chartered-accountant-2020">Public facing data set</a></li>
        <li><a href="beta-sprint-11/national-admin/recognition-data-1">Decision data listing page (central admin)</a></li>
        <li><a href="beta-sprint-11/regulator-england-and-wales/recognition-data-1">Decision data listing page (regulator)</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-10">
        Beta sprint 10
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-10/national-admin/">Central Admin login</a></li>
        <li><a href="beta-sprint-10/regulator-england-and-wales/">Institute of Chartered Accountants in England and Wales</a></li>
        <li><a href="beta-sprint-10/regulator-scotland/">Institute of Chartered Accountants in Scotland</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-9">
        Beta sprint 9
      </h2>

      <h3 class="govuk-heading-m">
        Multi-regulator support for profession details page - public facing 
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-9/public-facing/01-single-regulatory">One Primary regulator</a></li>
        <li><a href="beta-sprint-9/public-facing/01-2-single-regulatory">One Primary regulator version 2</a></li>
        <li><a href="beta-sprint-9/public-facing/02-one-chartered-body">One Chartered body</a></li>
        <li><a href="beta-sprint-9/public-facing/03-primary-and-additional-regulatory-authorities">One Primary regulator and one Additional regulators</a></li>
        <li><a href="beta-sprint-9/public-facing/04-with-qualifying-bodies-and-enforcement-bodies">One Primary regulator, several Qualifying bodies and several Enforcement bodies</a></li>
        <li><a href="beta-sprint-9/public-facing/04-2-with-qualifying-bodies-and-enforcement-bodies">One Primary regulator, several Qualifying bodies and several Enforcement bodies version 2</a></li>
        <li><a href="beta-sprint-9/public-facing/05-several-qualifying-bodies">Several Qualifying bodies</a></li>
        <li><a href="beta-sprint-9/public-facing/06-several-qualifying-bodies-and-one-oversight-body">Several Qualifying bodies and one Oversight body </a></li>
        <li><a href="beta-sprint-9/public-facing/06-2-several-qualifying-bodies-and-one-oversight-body">Several Qualifying bodies and one Oversight body version 2</a></li>
        <li><a href="beta-sprint-9/public-facing/07-several-chartered-body">Several Chartered bodies</a></li>
        <li><a href="beta-sprint-9/public-facing/08-one-chartered-body-and-many-awarding-bodies">One Chartered body and many Awarding bodies</a></li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-8">
        Beta sprint 8
      </h2>

      <h3 class="govuk-heading-m" id="beta-sprint-8-national-admin">
        Iteration on profession details page - public facing & internal
      </h3>


      <form action="beta-sprint-8/national-admin/" method="post" class="form">
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Published" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Draft" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Archived" type="hidden">
        {{ govukButton({
          text: "Login as an national admin",
          classes: "govuk-button--start"
        }) }}
      </form>

      <form action="beta-sprint-8/regulator/" method="post" class="form">
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Published" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Draft" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Archived" type="hidden">
        {{ govukButton({
          text: "Login as an regulator admin",
          classes: "govuk-button--start"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-7">
        Beta sprint 7
      </h2>

      <h3 class="govuk-heading-m" id="beta-sprint-6-national-admin">
        Iteration on profession details page - public facing & internal
      </h3>

      <p>This is the prototype of professions listing page:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the "Add a new profession" button is moved</li>
        <li>with the new Status filter (shows Published and Draft by default)</li>
        <li>when the "Filter results" button is clicked, it will show archived posts no matter what options you choose (prototype only!)</li>
      </ul>

      <form action="beta-sprint-7/national-admin/professions-listing-1" method="post" class="form">
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Published" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Draft" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Archived" type="hidden">
        {{ govukButton({
          text: "See the professions listing page"
        }) }}
      </form>

      <form action="beta-sprint-7/national-admin/" method="post" class="form">
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Published" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Draft" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Archived" type="hidden">
        {{ govukButton({
          text: "Login as an national admin",
          classes: "govuk-button--start"
        }) }}
      </form>

      <form action="beta-sprint-7/regulator/" method="post" class="form">
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Published" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Draft" type="hidden" checked>
        <input class="govuk-checkboxes__input" id="profession-status" name="profession-status" type="checkbox" value="Archived" type="hidden">
        {{ govukButton({
          text: "Login as an regulator admin",
          classes: "govuk-button--start"
        }) }}
      </form>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-6">
        Beta sprint 6
      </h2>

      <h3 class="govuk-heading-m" id="beta-sprint-6-national-admin">
        Iteration on profession details page - public facing & internal
      </h3>

      <p>Some shortcuts:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-6/national-admin/ra-adding-a-new-profession-page-1">National admin's adding a new profession - internal</a></li>
        <li><a href="beta-sprint-6/national-admin/profession-1-plastic-surgery-iteration-uk">When the profession is regulated for the entire country - internal</a></li>
        <li><a href="beta-sprint-6/public-facing/profession-1-plastic-surgery-iteration-uk">When the profession is regulated for the entire country - public facing</a></li>
        <li><a href="beta-sprint-6/national-admin/profession-1-plastic-surgery-iteration-england">When the profession is regulated for certain nations - internal</a></li>
        <li><a href="beta-sprint-6/public-facing/profession-1-plastic-surgery-iteration-england">When the profession is regulated for certain nations - public facing</a></li>
      </ul>

      <div>
        <a href="beta-sprint-6/national-admin/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as an national admin
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <h3 class="govuk-heading-m" id="beta-sprint-6-professions-listing-page">
        Iteration on professions listing page
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-6/public-facing/professions-listing-1">Iterated filter design (please perform a search on mobile to see the next page)</a></li>
      </ul>

      <h3 class="govuk-heading-m" id="beta-sprint-6-professions-listing-page">
        Iteration on regulators listing page
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-6/public-facing/ra-listing-1">Iterated filter design (please perform a search on mobile to see the next page)</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-5">
        Beta sprint 5
      </h2>

      <h3 class="govuk-heading-m" id="beta-sprint-5-national-admin">
        Internal - National admin
      </h3>

      <p>The following one shows the new design of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Profession's listing page: new table headings</li>
        <li>Profession's listing page: new sorting options</li>
        <li>Profession's details page: revised sidebar</li>
      </ul>

      <div>
        <a href="beta-sprint-5/national-admin/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as an national admin
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>or you can use these shortcuts to see:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-5/national-admin/professions-listing-1">National admin's professions listing page (default sorting)</a></li>
        <li><a href="beta-sprint-5/national-admin/professions-listing-1-latest-modified">National admin's professions listing page (sort by latest modified)</a></li>
        <li><a href="beta-sprint-5/national-admin/profession-3-nuclear-medicine">A published profession (sidebar revised)</a></li>
        <li><a href="beta-sprint-5/national-admin/profession-6-dentist-draft">A draft profession (sidebar revised)</a></li>
        <li><a href="beta-sprint-5/national-admin/ra-listing-1">National admin's regulators listing page (default sorting)</a></li>
        <li><a href="beta-sprint-5/national-admin/ra-listing-1-latest-modified">National admin's regulators listing page (sort by latest modified)</a></li>
        <li><a href="beta-sprint-5/national-admin/ra-1-general-medical-council">A published regulator (sidebar revised)</a></li>
        <li><a href="beta-sprint-5/national-admin/ra-2-capita-gas-registration">A draft regulator (sidebar revised)</a></li>
      </ul>

      <h3 class="govuk-heading-m" id="beta-sprint-5-national-admin">
        Profession details page iteration
      </h3>

      <p>Some temporary shortcuts:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="beta-sprint-5/national-admin/profession-1-plastic-surgery-sprint-5-iteration-uk">When the profession is regulated for the entire country</a></li>
        <li><a href="beta-sprint-5/national-admin/profession-1-plastic-surgery-sprint-5-iteration-england">When the profession is regulated for certain nations</a></li>
      </ul>

      <h3 class="govuk-heading-m">
        Alternative start page design
      </h3>

      <p>We have iterated the design of start page but we also want to provide an alternative to show to our users.</p>

      <div>
        <a href="beta-sprint-5/start-page-design/design1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Go to the alternative start page
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-4-2">
        Beta sprint 4.2 - Draft and publish design
      </h2>

      <h3 class="govuk-heading-m">
        Creating a new profession
      </h3>

      <p>National admin creating a new profession:</p>

      <div>
        <a href="beta-sprint-4/national-admin-draft-and-publish/professions-listing-1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Create a new profession
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>and then RA (GMC) users will see the draft in the professions listing page also. Please view the "Dentist" page.</p>

      <div>
        <a href="beta-sprint-4/ra-users-draft-and-publish/professions-listing-1-new-draft-saved" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          RA user to edit a draft new profession
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <h3 class="govuk-heading-m">
        Amending an existing profession
      </h3>

      <p>RA users to edit an existing profession (please edit "Nuclear medicine")</p>

      <div>
        <a href="beta-sprint-4/ra-users-draft-and-publish/professions-listing-1-new-draft-saved" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          RA user to edit an exisiting profession
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <h3 class="govuk-heading-m">
        Content design provocations
      </h3>

      <p><a href="beta-sprint-4/start-page-design/design1">Start page design 1</a></p>
      <p>Start page design 2 (removed)</p>
      <p><a href="beta-sprint-4/start-page-design/design3">Start page design 3</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-4">
        Beta sprint 4
      </h2>

      <h3 class="govuk-heading-m">
        Internal user interface
      </h3>

      <p>This is the prototype for National admin</p>

      <div>
        <a href="beta-sprint-4/national-admin/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as an national admin
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>This is the prototype for BEIS users</p>

      <div>
        <a href="beta-sprint-4/beis-user-flow-1/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as a BEIS user
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>This is the prototype for UKCPQ users</p>

      <div>
        <a href="beta-sprint-4/ukcpq-users/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as a UKCPQ user
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>This is the prototype for General Medical Council users</p>

      <div>
        <a href="beta-sprint-4/ra-users/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as a General Medical Council user
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <h3 class="govuk-heading-m">
        Shortcuts
      </h3>

      <p>This is the shortcut to the approvals journey of RA amendments for UKCPQ users.</p>

      <div>
        <a href="beta-sprint-4/ukcpq-users/ra-approval-listing-1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          UKCPQ users approving RA amendments
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>This is the shortcut to the approvals journey of RA amendments for RA users.</p>

      <div>
        <a href="beta-sprint-4/ra-users/ra-approval-listing-1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          RA users (GMC) submitting RA amendments
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-3">
        Beta sprint 3
      </h2>
      <h3 class="govuk-heading-m">
        Public facing interface
      </h3>

      <p>User flow 1 will show users an unrefined listing of results at the first place even though users may not have provided search keywords or anything in the filters.</p>

      <div>
        <a href="beta-sprint-3/public-facing-v1/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          User flow 1
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>User flow 2 will show users a filter-only page first. Listing pages will only appear after.</p>

      <div>
        <a href="beta-sprint-3/public-facing-v2/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          User flow 2
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <h3 class="govuk-heading-m">
        Internal user interface
      </h3>

      <p>This is the prototype for General Medical Council users</p>

      <div>
        <a href="beta-sprint-3/ra-user-flow-1-without-approval/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as a General Medical Council user
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>This is the prototype for UKCPQ users</p>

      <div>
        <a href="beta-sprint-3/ukcpq-user-flow-1-without-approval/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Login as a UKCPQ user
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="beta-sprint-2">
        Beta sprint 2
      </h2>
      <h3 class="govuk-heading-m">
        Public facing interface
      </h3>

      <p>User flow 1 will show users an unrefined listing of results at the first place even though users may not have provided search keywords or anything in the filters.</p>

      <div>
        <a href="beta-sprint-2/public-facing-v1/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          User flow 1
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <p>User flow 2 will show users a filter-only page first. Listing pages will only appear after.</p>

      <div>
        <a href="beta-sprint-2/public-facing-v2/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          User flow 2
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

    </div>
  </div>

{% endblock %}
